@red: #f56c6c;
*{
  cursor: url(../normal.jpg),auto;
  font-family:'STXihei';
}
html{
  background-image: url('../bk.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // font-size: 18px;
}
html,
body { 
  font-size: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

button {
  // cursor: pointer;
  outline: none;
}
